body, html {
    padding: 0;
    margin: 0;
}
header{
    position: fixed;
    z-index: 1;
    background: white;
    
    display: inline;
    left: 0px;
    right: 0px;
    top: 0px;
}

header img {
    float: left;
    padding: 5px 0;
    margin-left: 10px;
}

nav{
    display: inline;
    padding: 5px 0;
    margin-right: 50px;
    text-align: right; 
}

nav ul {
    margin-right: 50px;
}

nav li {
    display: inline-block;
    padding: 0 10px;
}

section{
    position: relative;
    top: 45px;
    text-align: center;
    left: 0px;
    right: 0px;
    background-image: url(img/sample-pattern.png);
    height: 1000px;
}

section h1 { 
    padding: 10px 0;
    font-family: "Slabo 27px",serif;
    font-size: 50px;
}

#article-list {
    width: 800px;
    margin: 20px auto;
    text-align: left;
    
}

article{
    margin: 1px 0;
    background: white;
    padding: 5px 10px;
}

footer {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    background: black;
    text-align: center;
    color: white;
    z-index: 1;
}

footer h5 {
    font-size: 20px;
    margin: 0;
    overflow: inherit;
}